@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Mono+One&display=swap');

body{
    --home-color: rgb(0, 67, 143);
}

.home-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0px 10%;
    background-color: #C6E2ED;
    background: url('../Images/jonnica-hill-V5nq6u-Ce_U-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.home-1 div{
    width: 26%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Lexend", sans-serif;
    font-weight: 900;
    color: var(--home-color);
    font-size: 1.8rem;
}

.home-1 div p,
.home-2 div p{
    font-weight: 400;
    font-size: 1rem;
}


.home-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 200px;
    font-family: "Lexend", sans-serif;
}

.home-2 h2{
    color: var(--home-color);
    font-size: 3rem;
}

.home-2box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.home-2box div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--home-color);
    width: 300px;
    margin-top: 75px;
    text-align: center;
    gap: 30px;
}

.home-2 div img{
    height: 100px;
}

.home-2 button{
    margin-top: 70px;
}

.home-3{
    background: url('https://images.pexels.com/photos/4386466/pexels-photo-4386466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20%;
    font-family: "Lexend", sans-serif;
    color: white;
    gap: 50px;
}

.home-3::before{
    content: "";
    background-color: rgb(5, 25, 51);
    height: 600px;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 90%;
}

.home-3 h1{
    z-index: 2;
    text-transform: uppercase;
    font-size: 5rem;
}

.home-3 div{
    z-index: 2;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.52rem;
}

.home-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 7%;
    color: var(--home-color);
}
.home-4 h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}
.home-4 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;
}

.home-4 div section img{
    height: 400px;
}

.home-4 div :nth-child(1){
    width: 600px;
}

.home-4 div section{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: "Lexend", sans-serif;
    text-align: justify;
}


.home-1 button{
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: var(--home-color);
    color: white;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: all .5s ease;
    position: relative;
}
.home-1 button:hover{
    cursor: pointer;
    background-color: rgb(12, 32, 56);
}
